[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Icon=usr/lib/eclipse/icon.xpm
Exec=bin/eclipse-wrapper %f
Comment=Eclipse IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=eclipse
